body {
    font-family: "Helvetica", sans-serif;
    color: black;
    line-height: 1.4;
    padding: 0 1em;
    text-align: center;
}
header {
    display: grid;
    padding: 0 2em;
    background-color: blue;
}
h1 {
    color: white;
    text-align: right;
}
img {
    display: block;
    width: 50%;
}
