/* ---------- media query for medium view ----------*/
@media only screen and (min-width: 37.5em) {
    
    /* ---------- header ---------- */
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr ;
        align-items: center;
    }

    body{
        font-size: 18px;
        width:100%;
    }
    /* ---------- navigation ---------- */
    nav {
        grid-row: 1;
        grid-column: 2 / 3;
        margin: 0;
    }

    /* display side by side when in medium screen instead of block*/
    nav ul#navigation {
        display: flex;
        justify-content: flex-start; /* to move right use "flex-end" */
    }

    nav ul li {
        display: block;
    }

    /* get rid of the hamburger icon when in medium screen */
    #hamburgerBtn {
        display: none;
    }

    .socials {
        grid-column: 3 / 4;
    }

    .date {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        margin-top: 15px;
    }
    
    
    /* ---------- footer ----------*/
    .part-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        align-items: center;
        padding: 15px;
    }

    /*Style section for Discover Page  */
    .image{
        display: flex;
    }   
        
    .image img{
        padding: 30px;
        transition: 1s;

    }
    .image img:hover{
        transform: scale(1.1);
        z-index: 2;
        opacity: 90%;
    }
} /* end of medium view */