/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	h1 {
		font-size: 1.5rem;
	}

	/* Horizontal Menu  */
	/* Flex *********************/
  	nav ul { display: flex; }
		  nav ul li { flex: 1 1 auto; } 
    
    nav a {
        font-size: 1rem;
    }
    
    nav a:hover {
            /* 	background-color: #bbb;
        color: #36454f; */
        --d: 75%;
    }
    
    main {
        grid-template-columns: 1fr 1fr;
    }
}