@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
	font-size: 16px;
	font-family: 'Playfair Display', serif;
}

/* phone or baseline views **************************/
header,
footer {
	background-color: #00A168;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'PT Sans', sans-serif;
}

header,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}

img{
    display: block;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 1%;
}
h1 {
	font-size: 1.1rem;
    text-align: left;
}
h2 {
	color: #536878;
    text-align: left;
}
p{
    text-align: justify;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 780px;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, yellow, transparent) bottom /
		var(--d, 0) 3px no-repeat;
	transition: 0.5s;
}

main {
	display: block;
	font-size: 0.8rem;
    text-align: justify;
    align-items: left;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
}

.colors th {
    background-color: #999;
    color: #000000;
}

.colors td {
    width: 20%;
    height: 3em;
}

.primary {
    background-color:#00A168;
}

.secondary {
    background-color: #E6008A;
}

.accent1 {
    background-color:#A51890;
}

.accent2 {
    background-color: #12A8E0;
}
ul li{
    font-size: 20px;
}